@charset "UTF-8";

@bg-body-color: #020e1f;
@border-blue-color: #00bbff;

html,body,ul,li,ol,p,span,div,header,main,h1,h2,h3,h4,h5,h6,em,i,small,section,aside,s,menu,code,label,eq,textarea,input,table,tr,td,th,thead,tbody,option,audio,canvas,svg,select,button,head,footer,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,samp,strike,strong,msqrt,sub,sup,tt,var,b,u,center,dl,dt,dd,fieldset,form,legend,caption,card,circle,article{
    padding:0;
    margin: 0;
}
html, body{
    width: 100%;
    height:100%;
    background-color: @bg-body-color;
    color: #fff;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a { text-decoration: none; }

.mrT20{
    margin-top: 20px;
}

.mrB30{
    margin-bottom: 30px;
}

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #555;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #555;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #76b7fa;
}

.overflow-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border-radius-half{
    -moz-border-radius:  50% ;
    -webkit-border-radius:  50%;
    border-radius: 50%;
}

.nav-top{
    width: 100%;
    padding: 15px;
    position: relative;

    .text-box{
        background-image: url("../images/bg-top.png");
        background-repeat: no-repeat;
        width: 978px;
        height: 77px;
        margin: auto;
        line-height: 77px;
        font-size: 28px;
        text-align: center;
        color: @border-green-color;
    }

    .logo-box{
        position: absolute;
        top: 38px;
        right: 15px;

        &>a,
        &>a:hover{
            font-size: 18px;
            color: #ccc;
            text-decoration: none;
            display: inline-block;
            padding-left: 25px;
            background-image: url("../images/icon-center.png");
            background-repeat:no-repeat;
        }
    }
}


@border-green-color: #00ffff;
.content{
    padding: 40px;

    .border-widen-style{
        display: block;
        width: 33px;
        height: 24px;
        position: absolute;
    }

    .panel.traffic-panel{
        background-color: transparent;
        border-color: @border-blue-color;
        position: relative;
        margin-bottom: 47px;

        .panel-heading{
            background-color: transparent;
            border-color: @bg-body-color;
            padding: 25px 20px;

            .panel-title{
                color: #00ffff;
                font-size: 18px;
                font-weight: bold;
                position: relative;

                p{
                    display: inline-block;
                    margin: auto 10px;
                    vertical-align: middle;
                }

                &.title-dot:before, &.title-dot:after{
                    content: ' ';
                    background-image: url("../images/icon-square.png");
                    background-repeat:no-repeat;
                    display: inline-block;
                    width: 14px;
                    height: 9px;
                    vertical-align: middle;
                }

                &.title-dot:after{
                    transform: rotate(180deg);
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Safari and Chrome */;
                }

                &.title-left-column:before{
                    content: "";
                    display: inline-block;
                    height: 20px;
                    width: 3px;
                    background: #0099ff;
                    position: absolute;
                    left: 0;
                    top: 3px;
                }

                &.title-left-column p{
                    margin-left: 13px;
                }
            }
        }

        .panel-body{
            padding: 0 20px 20px;
            position: relative;

            &.noPadding{
                padding: 0;
            }

            &:after{
                content: "";
                display: block;
                width: 11px;
                height: 11px;
                position:  absolute;
                bottom: -5px;
                right: -5px;
                border: 1px solid @border-blue-color;
                background: @bg-body-color;
                .border-radius-half;
            }
        }

        .text-blue{
            font-size: 14px;
            color: #03ddfd;
        }

        .border-short-box{
            margin: 12px auto;
            position: relative;
            padding: 4px;

            p.text{
                background-color: #0f152d;
                font-size: 22px;

                span{
                    display:  inline-block;
                    width: 15px;
                    height: 31px;
                    margin: 9px 2px;
                    background: #30a2fa;
                }
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                left:0;
                top:0;
                border-left: 1px solid #03ddfd;
                border-top: 1px solid #03ddfd;
            }

            &:after{
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top:0;
                border-right: 1px solid #03ddfd;
                border-top: 1px solid #03ddfd;
            }

            &.small:before,
            &.small:after,
            &.small .left-bottom-border,
            &.small .right-bottom-border{
                width: 10px;
                height: 10px;
            }

            &.big:before,
            &.big:after,
            &.big .left-bottom-border,
            &.big .right-bottom-border{
                width: 18px;
                height: 14px;
            }


            .left-bottom-border{
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                border-left: 1px solid #03ddfd;
                border-bottom: 1px solid #03ddfd;
            }

            .right-bottom-border{
                display: block;
                position: absolute;
                right:0;
                bottom:0;
                border-right: 1px solid #03ddfd;
                border-bottom: 1px solid #03ddfd;
            }
        }
        
        .traffic-table{
            margin-bottom: 0;
            background-color: #0f152d;

            thead tr th{
                .text-blue;
                font-weight:normal;
                text-align: center;
                border-bottom: 1px dashed #55e4f9;
            }

            tbody tr td{
                border-top: none;
            }
        }

        &:before{
            content: "";
            .border-widen-style;
            left: -2px;
            top: -2px;
            border-left: 2px solid @border-blue-color;
            border-top: 2px solid @border-blue-color;
        }

        &:after{
            content: "";
            .border-widen-style;
            right: -1px;
            top: -2px;
            border-right: 2px solid @border-blue-color;
            border-top: 2px solid @border-blue-color;
        }

        i.left-bottom-angle{
           .border-widen-style;
            left: -2px;
            bottom: -2px;
            border-left: 2px solid @border-blue-color;
            border-bottom: 2px solid @border-blue-color;
        }

        .horizontal-line{
            position: absolute;
            right: 30px;
            bottom: -20px;
            display: block;
            width: 124px;
            border-top: 1px solid @border-blue-color;

            &:after{
                content: "";
                display: block;
                width: 32px;
                border-top: 1px solid @border-blue-color;
                position: absolute;
                right: -29px;
                top: -10px;
                transform: rotate(145deg);
            }
        }

        &.noBorder{
            border: none;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
            .panel-body:after{
                display: none;
            }
        }

        .timeline-box{
            height: 276px;
            overflow: hidden;

            &.big{
                height: 330px;
            }

            .time-line{
                line-height: 45px;
                font-size: 0;
                
                span.province{
                    color: #fde906;
                    font-size: 14px;
                    display: inline-block;
                    width: 45px;
                    vertical-align: middle;
                    .overflow-hidden;
                }

                i.circle{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    .border-radius-half;
                    position: relative;
                    background-color: #76b7fa;
                    vertical-align: middle;
                    margin-right: 15px;

                    &:before{
                        content: "";
                        display: block;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        border-radius: 50%;
                        background: #76b7fa;
                        opacity: 0.4;
                    }

                    &:after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 28px;
                        border-left: 1px dashed #76b7fa;
                        position: absolute;
                        left: 5px;
                        top: 14px;
                    }
                }

                &:last-child i.circle:after{
                    height: 0;
                }

                span.tag,
                span.type{
                    font-size: 12px;
                    color: #76b7fa;
                    width: 55px;
                    display: inline-block;
                    vertical-align: middle;
                    .overflow-hidden;
                }

                span.type{
                    width: 70px;
                }

                a{
                    color: #fff;
                    font-size: 14px;
                    display: inline-block;
                    width: calc(~"100% - 200px");
                    vertical-align: middle;
                    .overflow-hidden;
                }
                
                span.time{
                    display: inline-block;
                    width: 60px;
                    font-size: 14px;
                    color: #66ffff;
                    letter-spacing: 3px;
                    .overflow-hidden;
                    vertical-align: middle;
                }

                span.date{
                    display: inline-block;
                    font-size: 12px;
                    color: #76b7fa;
                    line-height: 16px;
                    vertical-align: middle;
                }

                a.block{
                    line-height: 16px;
                    display: block;
                    margin-left: 90px;
                    height: 16px;
                    width: calc(~"100% - 90px");
                }
            }

            &.hasBorder .time-line{
                border-bottom: 1px solid #76b7fa;
            }

            &.big .time-line i.circle:after{
                height: 42px;
            }
        }

        i.border-top-animate{
            display: block;
            width: 35px;
            height: 5px;
            background: #0b82ce;
            color: #0b82ce;
            position: absolute;
            left: 165px;
            top: -3px;

            &:before{
                content: '';
                display: block;
                width: 40px;
                height: 7px;
                background: #0b82ce;
                color: #0b82ce;
                position: absolute;
                left: -40px;
                top: -1px;
            }

            &:after{
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: #0b82ce;
                color: #0b82ce;
                position: absolute;
                left: 30px;
                top: 1px;
            }
        }

        i.border-right-animate{
            display: block;
            height: 35px;
            width: 5px;
            background: #0b82ce;
            color: #0b82ce;
            position: absolute;
            top: 150px;
            right: -3px;

            &:before{
                content: '';
                display: block;
                height: 40px;
                width: 7px;
                background: #0b82ce;
                color: #0b82ce;
                position: absolute;
                top: -40px;
                left: -1px;
            }

            &:after{
                content: '';
                display: block;
                height: 20px;
                width: 2px;
                background: #0b82ce;
                color: #0b82ce;
                position: absolute;
                top: 30px;
                left: 1px;
            }
        }

        i.separate-line{
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -1px;
            display: block;
            height: calc(~"100% - 60px");
            border-left: 1px dashed #08346c;
        }

        //panel的角为斜角
        &.panel-oblique-angle{

            &::before{
                width: 40px;
                height: 55px;
                top: -26px;
                left: -12px;
                border: none;
                border-right: 1px solid #00bbff;
                transform: rotate(51deg);
                background: @bg-body-color;
            }

            &::after{
                width: 30px;
                height: 40px;
                top: -15px;
                right: -13px;
                border: none;
                border-left: 1px solid @border-blue-color;
                transform: rotate(-41deg);
                background: @bg-body-color;
            }

            .left-bottom-angle{
                width: 40px;
                height: 55px;
                bottom: -25px;
                left: -12px;
                border: none;
                border-right: 1px solid @border-blue-color;
                transform: rotate(-50deg);
                background: @bg-body-color;
            }

            .panel-heading{
                padding: 15px 35px 20px;
            }
        }

        i.left-top-img{
            display: block;
            width: 93px;
            height: 193px;
            position: absolute;
            left: -19px;
            top: -10px;
            background-image: url("../images/irregular-left-border.png");
            background-repeat: no-repeat;
            z-index: 9;
        }

        i.right-top-img{
            display: block;
            width: 77px;
            height: 131px;
            position: absolute;
            right: -21px;
            top: -10px;
            background-image: url("../images/irregular-right-border.png");
            background-repeat: no-repeat;
            z-index: 9;
        }
        
        &.panel-bg-blue{
            margin-bottom: 20px;

            .panel-heading{
                padding-bottom: 10px;
                text-align: center;
                font-size: 0;
                position: relative;

                p{
                    font-size: 18px;
                    padding: 7px 20px;
                    border-top: 1px solid @border-green-color;
                    border-bottom:1px solid @border-green-color;
                    position: relative;
                    background: @bg-body-color;

                    &::before{
                        content: '';
                        display: block;
                        height: 45px;
                        width: 15px;
                        background: @bg-body-color;
                        border-right: 1px solid @border-green-color;
                        -webkit-transform: rotate(20deg);
                        -moz-transform: rotate(20deg);
                        -ms-transform: rotate(20deg);
                        -o-transform: rotate(20deg);
                        transform: rotate(20deg);
                        position: absolute;
                        left: -7px;
                        top: -5px;
                    }

                    &::after{
                        content: '';
                        display: block;
                        height: 45px;
                        width: 15px;
                        background: @bg-body-color;
                        border-left: 1px solid @border-green-color;
                        -webkit-transform: rotate(20deg);
                        -moz-transform: rotate(20deg);
                        -ms-transform: rotate(20deg);
                        -o-transform: rotate(20deg);
                        transform: rotate(20deg);
                        position: absolute;
                        right: -7px;
                        top: 0px;
                    }
                }
                
                i.line{
                    display: inline-block;
                    height: 1px;
                    width: calc(~"100% - 30px");
                    background: @border-green-color;
                    position: absolute;
                    z-index: 0;
                    left: 15px;
                    top: 20px;
                }

                .panel-title::before,
                .panel-title::after{
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    .border-radius-half;
                    background: @border-green-color;
                    position: absolute;
                    left: 0;
                    top: 17px;
                }

                .panel-title:after{
                    left: auto;
                    right: 0;
                }
            }
            .panel-body{
                padding-top: 15px;
                background: #081935;
            }
        }

        &.panel-border-column{
            &:before{
                content: "";
                display: block;
                width: 20px;
                height: 40px;
                position: absolute;
                left: -6px;
                top: -11px;
                border:none;
                border-right: 1px solid @border-blue-color;
                -webkit-transform: rotate(40deg);
                -moz-transform: rotate(40deg);
                -ms-transform: rotate(40deg);
                -o-transform: rotate(40deg);
                transform: rotate(40deg);
                background: @bg-body-color;
            }
            
            i.blue-top-square{
                display: block;
                width: 5px;
                height: 29px;
                background: #0099ff;
                -webkit-transform: rotate(40deg);
                -moz-transform: rotate(40deg);
                -ms-transform: rotate(40deg);
                -o-transform: rotate(40deg);
                transform: rotate(40deg);
                position: absolute;
                left: 9px;
                top: 0;
            }

            &:after{
                content: "";
                display: block;
                width: 20px;
                height: 40px;
                position: absolute;
                top: auto;
                left: -6px;
                bottom: -11px;
                border:none;
                border-right: 1px solid @border-blue-color;
                -webkit-transform: rotate(-40deg);
                -moz-transform: rotate(-40deg);
                -ms-transform: rotate(-40deg);
                -o-transform: rotate(-40deg);
                transform: rotate(-40deg);
                background: @bg-body-color;
            }

            i.blue-bottom-square{
                display: block;
                width: 5px;
                height: 29px;
                background: #0099ff;
                -webkit-transform: rotate(-40deg);
                -moz-transform: rotate(-40deg);
                -ms-transform: rotate(-40deg);
                -o-transform: rotate(-40deg);
                transform: rotate(-40deg);
                position: absolute;
                left: 9px;
                bottom: 0;
                z-index: 2;
            }

            .panel-heading{
                padding: 15px 35px;
            }
        }
    }

    .chart-h350{
        width: 100%;
        height: 350px;
    }

    .chart-h780{
        width: 100%;
        height: 780px;
    }

    .chart-h420{
        width: 100%;
        height: 420px;
    }

    .chart-h330{
        width: 100%;
        height: 330px;
    }

    .chart-h320{
        width: 100%;
        height: 320px;
    }

    .traffic-select{
        margin-right: 20px;

        &>button.btn,
        &>button.btn:focus{
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            border: 1px solid @border-green-color;
            color: @border-green-color;
            background: @bg-body-color;
        }

        .dropdown-toggle:focus{
            outline: none !important;
        }
    }

    .table-wrap{

        .traffic-black-table{
            thead tr th{
                border: none;
                color: @border-green-color;
                border-bottom: 1px solid #232934;
                text-align: center;
            }

            tbody tr td{
                color: #fff;
                border: none;
                border-bottom: 1px solid #232934;
                background: #0d1321;
            }
        }

        .fixed-table-pagination .pagination-detail{
            display: none;
        }
        .fixed-table-pagination div.pagination{
            margin-top: 30px;
        }

        .fixed-table-container{
            border: none;
        }
    }

    .traffic-datetime{
        position: relative;
        font-size: 14px;

        &>input{
            background: transparent;
            border: 1px solid @border-blue-color;
            color: #fff;
            padding: 4px 12px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;
            width: 100%;
        }

        .icon-th{
            background-image: url('../images/icon-date.png');
            background-repeat:no-repeat;
            display: inline-block;
            width: 21px !important;
            height: 21px !important;
            position: absolute;
            right: 8px;
            top: 4px;
        }
    }
}

.datetimepicker.dropdown-menu{
    background: @bg-body-color;
}

.datetimepicker table tr td span{
    overflow: hidden;
}

.datetimepicker table tr td span:hover,
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover{
    background: #00a5ff;
    color: #fff;
}

@keyframes clipMe {
    0%{
        left: 40px;
        top: -3px;
    }
    25%{
        top: -3px;
        left: 25%;
    }
    50%{
        top: -3px;
        left: 50%;
    }
    75%{
        top: -3px;
        left: 75%;
    }
    100%{
        left: calc(~"100% - 50px");
        top: -3px;
    }
}

@-webkit-keyframes clipMe {
    0%{
        left: 40px;
        top: -3px;
    }
    25%{
        top: -3px;
        left: 25%;
    }
    50%{
        top: -3px;
        left: 50%;
    }
    75%{
        top: -3px;
        left: 75%;
    }
    100%{
        left: calc(~"100% - 50px");
        top: -3px;
    }
}

@keyframes clipMe1 {
    0%{
        right: -2px;
        top: 40px;
    }
    25%{
        right: -2px;
        top: 25%;
    }
    50%{
        right: -2px;
        top: 50%;
    }
    75%{
        right: -2px;
        top: 75%;
    }
    100%{
        top: calc(~"100% - 50px");
        right: -2px;
    }
}

@-webkit-keyframes clipMe1 {
    0%{
        right: -2px;
        top: 40px;
    }
    25%{
        right: -2px;
        top: 25%;
    }
    50%{
        right: -2px;
        top: 50%;
    }
    75%{
        right: -2px;
        top: 75%;
    }
    100%{
        top: calc(~"100% - 50px");
        right: -2px;
    }
}

@bg-login-color: #121a27;

.login{
    background-image: url("../images/login-bg1.png");
    background-position: left bottom;
    background-repeat:no-repeat;
    -webkit-background-size: 100%, 60%;
    background-size: 100% 60%;
    background-color: @bg-login-color;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .title{
        font-size: 44px;
        padding: 80px 120px;
        color: @border-green-color;
    }

    .form-border{
        border: 1px solid #009899;
        padding: 40px;
    }

    .text-box{
        font-size: 22px;
        border-bottom: 1px solid #1e5a75;
        padding-bottom: 20px;
        margin-bottom: 40px;
        position: relative;

        i.icon-triangle{
            display: block;
            position: absolute;
            bottom: -1px;
            left: 50%;
            margin-left: -2px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 6px solid #009899;
        }
    }

    .form-control{
        border: 1px solid #0e96e4;
        background: transparent;
        color: #fff;
    }

    .btn.forgetPwd{
        color: #fff;
        text-decoration: none;
        padding-left:0;
    }
    
    .btn.registerBtn{
        color: @border-green-color;
        text-decoration: none;
        padding-right:0;
    }

    .forgetPwdModal{

        .modal-content{
            background: @bg-login-color;

            .modal-header{
                border-bottom:1px solid @bg-login-color;

                button.close{
                    color: #fff;
                }
            }

            .forgetPwdForm{
                width: 85%;
                margin: auto;

                .form-control{
                    border:1px solid #33ffff;
                }

                .submitBtn{
                    width: 138px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                }
            }
        }
    }
}

.remindModal{
    .modal-content{
        background: #0a0e1d;

        .modal-body{
            .info{
                width: 200px;
                margin: 30px auto;
                font-size: 24px;
                line-height: 50px;
                padding-left: 75px;
                background-image: url("../images/icon-success.png");
                background-repeat: no-repeat;
            }

            .backInfo{
                font-size: 16px;
                color: @border-green-color;
                width: 200px;
                margin: 30px auto;
            }
        }
    }
}

.btn-green,
.btn-green:hover,
.btn-green:focus{
    width: 100%;
    background: #009899;
    margin-bottom: 10px;
    color: #fff;
}



.registerPage{
    height:100%;
    width: 100%;
    background: #000;
    padding: 20px;
    
    &>.top{
        height: 180px;
        margin-bottom: 20px;
        background: @bg-login-color;

        .step-box{
            height: 100%;

            .step-ul{
                font-size:0;
                height: 100%;
                position: relative;

                i.dashed-line{
                    position: absolute;
                    top: 90px;
                    left: 40px;
                    width: calc(~"100% - 80px");
                    border-top: 1px dashed @border-green-color;

                    &:before,
                    &:after{
                        content: '';
                        background-image: url('../images/icon-arrow.png');
                        background-repeat:no-repeat;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 33%;
                        top: -13px;
                    }

                    &:after{
                        left: 66%;
                    }
                }

                .step-li{
                    display: inline-block;
                    width: calc(~"100%/3");
                    height:100%;
                    font-size: 18px;
                    text-align: center;
                    margin: auto;
                    padding: 70px 0;
                    
                    &.selected{
                        font-size: 22px;
                        color: @border-green-color;
                        padding:58px 0;

                        span{
                            width: 199px;
                            line-height: 63px;

                            &::before{
                                width: 23px;
                                height: 68px;
                                top: -6px;
                                left: -11px;
                            }

                            &::after{
                                width:  23px;
                                height: 68px;
                                right: -10px;
                            }
                        }
                    }

                    span{
                        border: 1px solid @border-green-color;
                        display: inline-block;
                        width: 149px;
                        line-height: 39px;
                        position: relative;
                        z-index: 10;
                        background: @bg-login-color;

                        &::before{
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 42px;
                            position: absolute;
                            left: -7px;
                            top: -4px;
                            border-right: 1px solid @border-green-color;
                            transform: rotate(20deg);
                            background: @bg-login-color;
                        }

                        &::after{
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 42px;
                            position: absolute;
                            right: -6px;
                            top: 1px;
                            border-left: 1px solid @border-green-color;
                            transform: rotate(20deg);
                            background: @bg-login-color;
                        }
                    }
                }
            }
        }
    }
    
    &>.bottom{
        background: @bg-login-color;
        min-height: calc(~"100% - 200px");

        &>div{
            padding: 70px;

            .regist-form{
                width: 40%;
                margin: auto;

                .control-label{
                    font-size: 16px;
                    font-weight: normal;
                }
                
                input.form-control,
                input.form-control:active,
                input.form-control:focus,
                select.form-control,
                select.form-control:active,
                select.form-control:focus,
                button.dropdown-toggle,
                button.dropdown-toggle:active,
                button.dropdown-toggle:focus{
                    background: transparent;
                    color: #fff;
                    border:1px solid @border-green-color;
                }

                select.form-control option{
                    color: #000;
                }

                .btn-wrap{
                    margin-top: 100px;

                    .btn-green{
                        width: 138px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        border-radius: 8px;
                    }
                }

                .checkbox.col-md-10{
                    font-size: 12px;

                    .rulesBtn{
                        color: @border-green-color;
                    }
                }

                .has-success{
                    label{
                        color: #fff;
                    }
                }
            }
        }

        .register-panel{
            background-color: transparent;
            border: 1px solid rgba(51, 255, 255, 0.8);
            box-shadow: 1px 1px 5px rgba(51,255,255, 0.6), 1px 1px 5px rgba(51,255,255, 0.6);
            margin-bottom: 110px;
            
            .panel-title{
                color: @border-green-color;
                font-size: 18px;
                font-weight: bold;
                position: relative;

                p{
                    display: inline-block;
                    margin: auto 10px;
                    vertical-align: middle;
                }

                &.title-dot:before, &.title-dot:after{
                    content: ' ';
                    background-image: url("../images/icon-square-blue.png");
                    background-repeat:no-repeat;
                    display: inline-block;
                    width: 14px;
                    height: 9px;
                    vertical-align: middle;
                }

                &.title-dot:after{
                    transform: rotate(180deg);
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Safari and Chrome */;
                }
            }
            
            .panel-body{
                padding: 0;

                .package-list{
                    margin-bottom: 0;

                    li{
                        background: transparent;
                        border:none;
                        border-bottom: 1px solid rgba(51, 255, 255, 0.8);
                        
                        span.packageName{
                            font-size: 16px;
                            color: #00cccc;
                        }

                        &:last-child{
                            border-bottom:none;
                        }
                    }
                }
            }
        }
    }
}

